.checkbox input[type='checkbox'], .checkbox label {
    cursor: pointer;
    user-select: none;
}

button, input[type='file'] {
    cursor: pointer;
}

.papaya-menu-label {
    font-size: 12px;
}

#info, #fields {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none !important;
}

button, textarea, label, input, #description {
    margin: 5px;
}

#loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
}

#loader svg {
    width: 100px;
    height: 100px;
    margin: 20px;
    display:inline-block;
    margin: auto;
}

#papaya-containers.row {
    display: flex;
    flex-direction: row;
}
#papaya-containers.column {
    display: flex;
    flex-direction: column;
}

#papaya-toolbox-container {
    display: flex;
    flex-direction: row;
}

#toggle-visibility-buttons {
    display: flex;
    flex-direction: column-reverse;
}

#toggle-visibility-buttons > .slider {
    display: flex;
    flex-direction: row;
}

#toolbox {
    width: 250px;
    margin-left: 20px;
}

#toolbox label {
    font-weight: 600;
}

#toolbox .navigation {
    display: flex;
    justify-content: space-around;
}

#toolbox .comment-container {
    display: flex;
    flex-direction: column;
}

.ag-theme-alpine .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
    border: none;
}

.ag-theme-alpine .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected):focus {
    border: none;
}

.ag-theme-alpine .ag-ltr .ag-has-focus .ag-cell-focus:focus {
    border: none;
}

div.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    position: relative;
    margin: 5px;
}
.checkbox label, .radio label {
    padding-left: 0;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

body {
    padding: 0;
    margin: 0;
}

#close_lesion_viewer {
    position: absolute;
    right: 0;
    width: 30px;
}